<nav class="navbar navbar-expand-lg bg-light">
	<div class="container">
		<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('assets/img/shop-logo.png') }}" alt="shop logo" width="100px"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">

					<a class="nav-link {{ bodyId == HOME_PAGE ? 'active' : '' }}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>

				</li>
				<li class="nav-item">
					<a class="nav-link position-relative {{ bodyId == CART_PAGE ? 'active' : '' }}" href="{% if not userInfo.user is null %}#{% else %}#{% endif %}">
						Panier
						{% if not userInfo.user is null %}
							<span class="position-absolute top-15 start-100 translate-middle badge rounded-pill bg-danger">
								{{ cartCount }}
							</span>
						{% endif %}
					</a>
				</li>
				<li class="nav-item dropdown ms-5">
					<a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ userInfo.isLoggedIn ? 'Déconnexion' : 'Connexion' }}
					</a>
					<ul class="dropdown-menu">
						{% if userInfo.isAdmin %}
							<li>
								<a class="dropdown-item" href="{{ path('app_admin') }}">Back Office</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item deconnexion-trigger" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{% elseif userInfo.isLoggedIn %}
							<li>
								<a class="dropdown-item" href="{{ path('app_member') }}">Mon profile</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item deconnexion-trigger" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{% else %}
							<li>
								<a class="dropdown-item connexion-modal-trigger" href="#">Se connecter</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a>
							</li>
						{% endif %}
					</ul>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
